{{!-- TODO: Center align text, style board and font, size of table --}}
{{!-- TODO: Add variables from the api route to get results from the scores table --}}
<table id="scoreList">
    <tr>
        <th>Player Name</th>
        <th>Score</th>
    </tr>
    {{#each scores as |score|}}
    <tr>
        <td>{{user.player_name}}</td>
        <td>{{score.score}}</td>
    </tr>
    {{/each}}
{{!-- <ol>
{{#each scores as |score|}}
    <li>{{user.player_name}} {{score.score}} 
    </li>
{{/each}}
</ol> --}}
</table>
{{!-- {{user.player_name}} --}}
{{!-- <table>
    <caption>LEADERBOARD</caption>
    <tr>
        <th>Player Name</th>
        <th>Score</th>
    </tr>
    <tr>
        <td>Example Player 1</td>
        <td>Highest Score</td>
    </tr>
    <tr>
        <td>Example Player 2</td>
        <td>2nd Highest Score</td>
    </tr>
        <tr>
        <td>Example Player 3</td>
        <td>3rd Highest Score</td>
    </tr>
        <tr>
        <td>Example Player 4</td>
        <td>4th Highest Score</td>
    </tr>
    <tr>
        <td>Example Player 5</td>
        <td>5th Highest Score</td>
    </tr>
</table> --}}

{{!-- <script src="/js/gameover.js"></script> --}}